* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(127, 148, 178) ;
}

/* Header */

header {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.name {
    position: relative;
    left: 35px;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    color: black;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: black;
}

/* Main */

main {
    display: flex;
}

.about {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2%;
    margin-top: 2%;
}

#info {
    font-size: 32px;
    justify-content: left;
}

#para {
    font-size: 20px;
} 

.container {
  display: flex;
  justify-content: right;
}

.pictures {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif; 
}

.card {
    width: 100%;
    min-width: 600px;
    max-width: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 4;
}


/* Footer */

footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
    color: black;
    

}

.contacts {
    justify-content: space-around;
    display: flex;

    
}
